@charset 'UTF-8';

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    outline-color: transparent;
    list-style: none;
    font-size: 1.2rem;
    font-family: monospace;
}

html, body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

img#logo {
    border-radius: 50%;
    max-width: 120px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: black;
}

.menu {
    display: flex;
    margin-right: 20px;
}
.menu li {
    margin-left: 10px;
}

.menu li a {
    padding: 10px;
}

@media screen and (max-width: 650px) {
    .menu {
        flex-direction: column;
        display: flex;
        margin: 0px;
    }

    .menu li {
        margin-left: 10px;
        margin-top: 10px;
    }

    .header {
        flex-direction: column;
    }

    .flex {
        margin: 0px;
    }

    .flex > div {
        margin: 10px 0px;
    }
}

h1 {
    text-align: center;
    margin-top: 10px;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
    background-color: black;
    color: white;
}