@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --font-title: 'Noto Serif Khojki', serif;
    --font-common-text:'Roboto', sans-serif;
    --font-descripion-text: 'Space Mono', monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    background-image: url('assets/back_ground/arena.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 550px) {
    body {
        background-image: url('assets/back_ground/arena_phone.jpg');
    }
}